@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact-us" class="contact-us section">
    <div class="container">
        <h1>Ooops</h1>
        <h2>This is not the page you are looking for.</h2>
        <p>That didn't work! Click the back button to continue.</p>
    </div>
</section>