@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h4>Change Password</h4>
                            <h3>Change your password</h3>
                        </div>
                        <form class="form" action="/account/changepassword" method="post">
                            <div class="row">

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input name="OldPassword" type="password" id="oldPassword" placeholder="Enter old password">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input name="NewPassword" type="password" id="newPassword" placeholder="Enter new password">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input name="ConfirmPassword" type="password" id="confirmPassword" placeholder="Confirm password">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="btn">Submit</button>
                                        <a href="~/products" class="btn" style="text-decoration:none;color:#ffffff;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
