@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/productSearch.css" />
</head>
<body>
    <h1>Welcome to Shopify</h1>
    <span>The shop you can see what you need!</span>
    <button onclick="buttonClick()">Shop Now</button>

    <script>
            function buttonClick() {
                alert("Welcome");
            }
    </script>
</body>
</html> 